<ul class="list-unstyled education">
  <li *ngFor="let edu of education">
    <h3 class="mb-0">{{edu.title}}</h3>
    <span>{{edu.startDate | date:'MM.yyyy'}}</span> - <span *ngIf="edu.finishDate; else elseBlock">{{edu.finishDate | date:'MM.yyyy'}}</span>
    <ng-template #elseBlock>present</ng-template>
    <h5>{{edu.university}}</h5>
    <div>
        <p class="text-justify">{{edu.description}}</p>
        <h4 class="mb-0">Publications</h4>
        <ul class="publications">
            <li *ngFor="let publication of edu.publications">
                <h4 class="mb-0">{{publication.title}}</h4>
                <span>{{publication.startDate | date:'MM.yyyy'}}</span>
                <h5>{{publication.university}}</h5>
                <div>
                    <p class="text-justify mb-0">{{publication.description}}</p>
                    <a class="mb-4" href={{publication.link}}>See the publication</a>
                </div>
            </li>
        </ul>
    </div>
  </li>
</ul>