<div class="p-3">
    <img class="circle-img center" src="https://tomasz-wrobel.github.io/angular-resume/assets/img/me.png">
    <div class="center" style="max-width: 600px;">
        <h2 class="text-center mt-3">Summary</h2>
        <p class="text-center">Java developer with over {{years}} years’ experience in developing enterprise software applications. Experienced in working on e-commerce projects based on SAP Hybris platform. Strong customer facing skills. Solid analytical skills and understanding of business processes. Team player.</p>
    </div>
</div>