<div class="cv-wrapper">     
  <div class="row">
      <div class="col-lg-3 contact-box">
          <app-contact-box></app-contact-box>
      </div>
      <div class="col-lg-9 my-3 summary">
          <app-summary></app-summary>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-3 skills">
            <app-skills></app-skills>
        </div>
        <div class="col-lg-9 my-3 experiences">
            <mat-tab-group >
                <mat-tab label="Experience">
                  <app-experiences></app-experiences>
                </mat-tab>
                <mat-tab label="Education">
                  <app-education></app-education>
                </mat-tab>
                <mat-tab label="Certificates">
                  <app-certificates></app-certificates>
                </mat-tab>      
            </mat-tab-group>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
