/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@blue-primary: #228afa;
@blue-secondary: #88b5e6;
@blue-background: #d1e8f5;

.circle-img {
    height: 150px;
    border-radius: 50%;
}

.logo {
    height: 80%;
    margin: 5px;
    margin-left: 10%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aligned-with-icon {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

.cv-wrapper{
    margin: 0 10%;
}

.mat-tab-label{
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
 } 

 .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
     background-color: @blue-primary;
 }
 
 .mat-progress-bar-fill::after {
    background-color: @blue-primary;
 }

 .mat-progress-bar-buffer {
    background-color: @blue-background;
}

.mat-expansion-panel {
    min-width: 100px;
}

.contact-box {
    min-width: 100px;
    overflow: hidden;
}

.text-line {
    padding: 10px 0;
    border-bottom: 2px solid @blue-secondary;
    border-top: 2px solid @blue-secondary;
}

.mat-toolbar {
    background-color: @blue-background;
}

@media screen and (max-width: 750px){
    .mat-body, .mat-body-1, .mat-typography {
        font-size: 10px;
    }   
    .mat-expansion-panel-header {
        font-size: 11px;
    }
    .mat-tab-label {
        font-size: 12px;
    }

    .mat-typography h3 {
        font-size: 12px;
    }

    .mat-typography h2 {
        font-size: 13px;
    }

    .mat-typography h1 {
        font-size: 18px;
    }

    .circle-img {
        height: 75px;
    }

    .cv-wrapper{
        margin: 0 2%;
    }

    .logo {
        margin-left: 2%;
    }
}