/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.circle-img {
    height: 150px;
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aligned-with-icon {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}

.mat-tab-label{
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
 } 

 .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
     background-color: #007bff;;
 }
 
 .mat-progress-bar-fill::after {
    background-color: #007bff;;
 }

 .mat-progress-bar-buffer {
    background-color: #ccdde6;
}